.standings-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mat-tab-group {
  background-color: white;
  border-radius: 5px;
}

.mat-form-field {
  width: 100%;
  background-color: white;
}

.standings-grid {
  max-width: 760px;
  width: 70vw;
  height: 80vh;
}

@media (max-width: 840px){
  .standings-grid {
    width: 100vw;
  }
}
