<mat-card class="example-card" *ngIf="$team | async as team" [style.background-image]="getBackground(team.clubColors)">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{team.name}} <small>{{team.founded}}</small></mat-card-title>
    <mat-card-subtitle>{{team.venue}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content-team">
    <div class="team-info">
      <div [style.background-image]="getBackground(team.clubColors)">{{team.address}}</div>
      <!-- <div [ngStyle]="{'background-image' : getBackground(team.clubColors)}">{{team.address}}</div> -->
      <div>{{team.phone}}</div>
      <div>{{team.website}}</div>
      <div>{{team.email}}</div>
      {{getBackground(team.clubColors) | json}}
      <!-- <pre>{{team | json}}</pre> -->
    </div>
    <mat-card class="player-card" *ngFor="let player of team.squad">
      <mat-card-header>
        <mat-card-title>{{player.name}}</mat-card-title>
        <mat-card-subtitle>{{player.dateOfBirth | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{player.position}}
        </p>
        <p class="player-nationality">
          <img
          class="flag-player"
          [src]="'https://flagcdn.com/32x24/' + getFlag(player.nationality) + '.png'"
          width="32"
          height="24"
          [alt]="player.nationality">
          {{player.nationality}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
