.team-card {
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-team {
  margin-bottom: 16px;
  position: relative;
}

.team-info {
  background: #ada6a69c;
  padding: 20px;
  border-radius: 10px;
}

.mat-card-header .mat-card-title {
  font-size: 35px;
  text-align: center;
}

.squad-position {
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  background: #ada6a69c;
  border-radius: 10px;
}

.squad-position-title {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Orbitron', sans-serif;
}

.squad-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.player-card {
  min-width: 280px;
  max-width: 280px;
  min-height: 165px;
  margin-bottom: 10px;
}

.player-nationality {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 700px){
  .player-card {
    max-width: 100%;
  }
}
