<mat-card class="team-card" *ngIf="$team | async as team" [style.background-image]="'url(' + team.crestUrl + ')'">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{team.name}}</mat-card-title>
    <mat-card-subtitle>{{team.founded}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content-team">
    <div class="team-info">
      <div>{{team.venue}}</div>
      {{getBackground(team.clubColors)}}
      <div>{{team.address}}</div>
      <div>{{team.phone}}</div>
      <div>{{team.website}}</div>
      <div>{{team.email}}</div>
      {{getBackground(team.clubColors) | json}}
    </div>
    <!-- <img
      class="team-shield"
      [src]="team.crestUrl"
      [alt]="team.name"> -->
    <ng-container *ngIf="squad.Goalkeeper">
      <div class="squad-position">
        <h3 class="squad-position-title">
          Goalkeepers
        </h3>
        <div class="squad-list">
          <app-player-list-item [player]="player" *ngFor="let player of squad.Goalkeeper"></app-player-list-item>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="squad.Defender">
      <div class="squad-position">
        <h3 class="squad-position-title">
          Defenders
        </h3>
        <div class="squad-list">
          <app-player-list-item [player]="player" *ngFor="let player of squad.Defender"></app-player-list-item>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="squad.Midfielder">
      <div class="squad-position">
        <h3 class="squad-position-title">
          Midfielders
        </h3>
        <div class="squad-list">
          <app-player-list-item [player]="player" *ngFor="let player of squad.Midfielder"></app-player-list-item>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="squad.Attacker">
      <div class="squad-position">
        <h3 class="squad-position-title">
          Attackers
        </h3>
        <div class="squad-list">
          <app-player-list-item [player]="player" *ngFor="let player of squad.Attacker"></app-player-list-item>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
