.matches {
  padding: 5px;
}

.match-item {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  box-shadow:  0px 3px 3px rgb(0 0 0 / 16%), 2px 1px 6px rgb(0 0 0 / 36%);
  border-radius: 10px;
  padding: 3px;
  overflow: hidden;
  height: 70px;
  min-width: 280px;
}

.match-item:hover {
  box-shadow:  0px 1px 1px rgb(0 0 0 / 16%), 1px 1px 3px rgb(0 0 0 / 36%);
  cursor: pointer;
}

.match-item:hover .match-item-image {
  opacity: 1;
  width: 75px;
}

.match-item:hover .match-item-image--left {
  transform: rotate(0deg);
}

.match-item:hover .match-item-image--right {
  transform: rotate(0deg);
}

.match-item-team {
  position: relative;
  flex-basis:33.33%;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(58, 58, 58);
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
  transition: .5s;
}

.match-item-team--left {
  text-align: right;
}

.match-item-team--right {
  text-align: left;
}

.match-item-info {
  flex-basis:33.33%;
  color: rgb(56, 56, 56);
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.match-item-score {
  font-size: 1.5em;
  font-weight: bold;
}

.match-item-image {
  width: 80px;
  position: absolute;
  top: -25px;
  opacity: 0.6;
  z-index: -1;
  transition: .5s;
}

.match-item-image--left {
  transform: rotate(-20deg);
  left: 2px;
}

.match-item-image--right {
  transform: rotate(20deg);
  right: 2px;
}

@media (max-width: 840px){
  .matches {
    padding: 1px;
  }

  .match-item {
    margin: 2px;
  }

  .match-item-image {
    position: inherit;
    opacity: 1;
    transform: rotate(0);
    width: 40px;
    top: 0;
  }

  .match-item-name {
    font-size: 0.7em;
  }

  .match-item-team {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .match-item-date {
    font-size: 0.8em;
  }
}
