<div class="matches">
  <ng-container *ngIf="matches">
    <div *ngFor="let match of matches" class="match-item">
      <div class="match-item-team match-item-team--left">
        <img class="match-item-image match-item-image--left" [src]="match.homeTeam.crestUrl">
        {{match.homeTeam.name}}
      </div>
      <div class="match-item-info">
        <div class="match-item-date">
          {{ match.utcDate | date:'medium' }}
        </div>
        <div class="match-item-score">{{match.score.fullTime.homeTeam}} - {{match.score.fullTime.awayTeam}}</div>
      </div>
      <div class="match-item-team match-item-team--right">
        <img class="match-item-image match-item-image--right" [src]="match.awayTeam.crestUrl">
        {{match.awayTeam.name}}
      </div>
    </div>
  </ng-container>
</div>
